@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  padding-top: 120px;
  padding-bottom: 90px;
}
.section-title h5 {
  color: #f94d1c;
  margin-bottom: 10px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 800px;
  font-size: 45px;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 18px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 18px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 18px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu-top {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu-top {
    display: block;
  }
}
header .container .menu-top .menu-contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10 px;
}
@media (min-width: 1200px) {
  header .container .menu-top .menu-contact {
    justify-content: space-between;
  }
}
header .container .menu-top .menu-contact .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu-top .menu-contact .contact-information {
    display: flex;
  }
}
header .container .menu-top .menu-contact .contact-information .contact-info {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300px;
  opacity: 50%;
}
header .container .menu-top .menu-contact .contact-information .contact-info i {
  margin-right: 5px;
  font-size: 1, 2em;
}
header .container .menu-top .menu-contact .contact-information .contact-info.address {
  border: none;
}
header .container .menu-top .menu-contact .contact-information .contact-info a {
  color: inherit;
  text-decoration: none;
  color: inherit;
}
header .container .menu-top .menu-contact .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
  text-decoration: none;
}
header .container .menu-top .menu-contact .social-media a:hover {
  color: #7C7C7C;
}
header .container .menu-top .menu-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu-top .menu-navigation nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu-top .menu-navigation nav a.active {
  font-weight: 500;
}
header .container .menu-top .menu-navigation nav a.active::after, header .container .menu-top .menu-navigation nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu-top .menu-navigation .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .content {
  padding: 40px 0px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .content {
    text-align: left;
  }
}
.showcase .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .content h1 {
    font-size: 86px;
  }
}
.showcase .content h6 {
  font-size: 18px;
  padding: 40px 10px;
}
@media (min-width: 768px) {
  .showcase .content h6 {
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.showcase .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase img {
    display: block;
  }
}

#reference-customers {
  display: none;
}
@media (min-width: 1200px) {
  #reference-customers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
  }
}

.portfolio .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio .container .portfolio-projects {
  text-align: center;
}
.portfolio .container .portfolio-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .portfolio .container .portfolio-grid {
    grid-template-columns: 1fr 1fr;
  }
}
.portfolio .container .portfolio-grid .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
  /* Hover över a triggar underline på read-more*/
}
.portfolio .container .portfolio-grid .project img {
  width: 100%;
  height: auto;
}
.portfolio .container .portfolio-grid .project h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-top: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.portfolio .container .portfolio-grid .project a {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500px;
  text-decoration: none;
  color: #191919;
}
.portfolio .container .portfolio-grid .project a i {
  margin-left: 3px;
}
.portfolio .container .portfolio-grid .project .read-more {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #191919;
  text-decoration: none;
}
.portfolio .container .portfolio-grid .project .read-more i {
  margin-left: 3px;
}
.portfolio .container .portfolio-grid .project:hover .read-more {
  text-decoration: underline;
}
.portfolio .container .content-center {
  margin-top: 50px;
  margin-bottom: 90px;
}
.portfolio .container .content-center .btn-black {
  padding-top: 12px;
  padding-bottom: 12px;
}

.usp {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .usp {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    border: 1.2px solid gray;
  }
}
.usp .usp-1 {
  text-align: center;
}
.usp .usp-1 .btn-yellow {
  width: 100%;
  display: block;
}
@media (min-width: 992px) {
  .usp .usp-1 {
    padding: 45px 10px 60px 80px;
  }
}
@media (min-width: 1200px) {
  .usp .usp-1 h5, .usp .usp-1 h2 {
    text-align: left;
    width: 80%;
    padding-bottom: 30px;
  }
  .usp .usp-1 .btn-yellow {
    width: 80%;
    margin-left: 5px;
    margin-right: auto;
  }
}
.usp .usp-2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
  padding-right: 30px;
  display: none;
}
@media (min-width: 1200px) {
  .usp .usp-2 {
    display: grid;
    padding-top: 45px;
  }
}
.usp .usp-2-grid div {
  font-size: 25px;
  margin-bottom: 15px;
}
.usp .usp-2-grid h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 10px auto;
}
.usp .usp-2-grid p {
  opacity: 50%;
}